<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Document</title>

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.min.css">

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</head>
<body class="inner">

    <div class="wrapper">

        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__body">

                        <div class="header__contacts">
                            <a href="tel:+7 (999) 999-99-99" class="header__phone contact"><i class="fa fa-phone"></i><span>+7 (999) 999-99-99</span></a>
                            <a href="mailto:index@gmail.com" class="header__email contact"><i class="fa fa-envelope"></i><span>index@gmail.com</span></a>
                        </div>

                        <div class="search">
                            <form action="" class="search__form">
                                <input class="search__text" type="text"><button class="search__button"><i class="fa fa-magnifying-glass"></i></button>
                            </form>
    
                            <div class="search__button search__mobile"><i class="fa fa-magnifying-glass"></i></div>

                            <div class="search__close"><i class="fa fa-xmark"></i></div>
                        </div>
                        

                    </div>

                </div>
            </div>

            <div class="header__bottom">
                <div class="container">
                    <div class="header__body">

                        <div class="logo">
                            <a href="#" class="logo__link">
                                <img src="./images/logo.png" alt="logo" class="logo__img">
                            </a>
                        </div>
                        
                        <nav class="menu-top show">
                            <ul class="menu-top__list">
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Главная</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Каталог</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></li>
                            </ul>

                            <div class="menu-top__close"><i class="fa fa-xmark"></i></div>
                        </nav>

                        <div class="burger"><i class="fa fa-bars"></i></div>

                    </div>
                </div>
            </div>

            
            
        </header>

        <main class="main">

            <div class="container">

                <div class="inner-top">
                    <h1 class="title-inner">Лопаточный шунт</h1>
                    <div class="breadcrumbs">
                        <a href="#" class="breadcrumbs__item">Главная</a>
                        <a href="#" class="breadcrumbs__item"><i class="fa fa-angle-right"></i>Фотогалерея</a>
                        <a href="#" class="breadcrumbs__item"><i class="fa fa-angle-right"></i>Фотогалерея</a>
                        <a href="#" class="breadcrumbs__item"><i class="fa fa-angle-right"></i>Фотогалерея</a>
                        <div class="breadcrumbs__item"><i class="fa fa-angle-right"></i>Фотогалерея</div>
                    </div>
                </div>

                <div class="main__body">
                    <div class="main__content">
                        
                        <div class="detail">
                            <div class="detail__about">
                                <div class="detail__image">
                                    <img src="./images/banner.png" alt="img">
                                </div>
                                
                                <div class="detail__info">
                                    
                                    <div class="detail__specifications">
                                        <div class="detail__specifications-title">
                                            Характеристики
                                        </div>
                                        <div class="detail__specifications-text">
                                            <ul>
                                                <li>
                                                    <span class="detail__specifications-text-name">Площадь</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">200</span>
                                                </li>
                                                <li>
                                                    <span class="detail__specifications-text-name">Этажей</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">2</span>
                                                </li>
                                                <li>
                                                    <span class="detail__specifications-text-name">Жилая площадь</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">290 m²</span>
                                                </li>
                                                <li>
                                                    <span class="detail__specifications-text-name">Площадь кухни</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">45 m²</span>
                                                </li>
                                                <li>
                                                    <span class="detail__specifications-text-name">Гараж</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">на 1 машину</span>
                                                </li>
                                                <li>
                                                    <span class="detail__specifications-text-name">Количество спален</span>
                                                    <span class="li-dots"></span>
                                                    <span class="detail__specifications-text-value">2</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                            <div class="detail__blocks">
                                
                                <div class="detail__description">
                                    <div class="detail__description-title">
                                        Описание
                                    </div>
                                    <div class="detail__text">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui beatae quos pariatur quaerat, ipsum corrupti dolorum, expedita nemo, asperiores tempore suscipit reiciendis adipisci maiores corporis facere? Odit voluptatum corrupti officiis!
                                        Aliquid qui neque soluta dicta unde quisquam voluptatum dolores provident quam, amet sunt quod id possimus optio asperiores repellat consequuntur ex repudiandae? Voluptates blanditiis iste ex dignissimos fugit corporis natus.
                                        Accusamus modi consequatur perferendis suscipit tempore voluptates blanditiis est, dolor debitis libero nostrum veniam sit reprehenderit ipsam voluptas eos vero illo, voluptatum, obcaecati eveniet animi. Repellendus placeat illo distinctio facere?
                                        Quos neque cumque nihil eos praesentium eligendi laudantium excepturi ipsam distinctio accusantium nulla, officiis, odio ad assumenda illo delectus quaerat. Et, odio! Alias quae exercitationem voluptate quos dolor amet atque?
                                        Dolores natus accusamus modi id aperiam? Facere sequi, suscipit ab dolor, laudantium a explicabo delectus, harum dicta libero aliquam cupiditate? Magnam dolor distinctio enim at optio suscipit. Ullam, quidem pariatur.
                                    </div>
                                </div>
        
                            </div>
                        </div>

                    </div>
                    <div class="main__sidebar">

                        <div class="menu-inner">
                            <ul class="menu-inner__list">
                                <li class="menu-inner__item"><a href="#" class="menu-inner__link">Наши работы</a></li>
                                <li class="menu-inner__item"><a href="#" class="menu-inner__link">Наши работы</a></li>
                                <li class="menu-inner__item"><a href="#" class="menu-inner__link">Наши работы</a></li>
                                <li class="menu-inner__item"><a href="#" class="menu-inner__link">Наши работы</a></li>
                                <li class="menu-inner__item active"><a href="#" class="menu-inner__link">Работы заказчиков</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                


            </div>
            
        </main>
        
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__body">

                <div class="footer__contacts">
                    <a href="tel:+7 (999) 999-99-99" class="footer__phone contact"><i class="fa fa-phone"></i>+7 (999) 999-99-99</a>
                    <a href="mailto:index@gmail.com" class="footer__email contact"><i class="fa fa-envelope"></i>index@gmail.com</a>
                </div>

                <div class="menu-bottom">
                    <ul class="menu-bottom__list">
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Главная</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">О нас</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Каталог</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Контакты</a></li>
                    </ul>
                </div>

                <div class="copyright">
                    © 2022 ООО "Колпак"
                </div>

            </div>
        </div>
    </footer>
    
</body>
</html>