<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <title>Document</title>

    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.min.css">

    <script src="js/jquery.js"></script>
    <script src="js/script.js"></script>
</head>
<body>

    <div class="wrapper">

        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="header__body">

                        <div class="header__contacts">
                            <a href="tel:+7 (999) 999-99-99" class="header__phone contact"><i class="fa fa-phone"></i><span>+7 (999) 999-99-99</span></a>
                            <a href="mailto:index@gmail.com" class="header__email contact"><i class="fa fa-envelope"></i><span>index@gmail.com</span></a>
                        </div>

                        <div class="search">
                            <form action="" class="search__form">
                                <input class="search__text" type="text"><button class="search__button"><i class="fa fa-magnifying-glass"></i></button>
                            </form>
    
                            <div class="search__button search__mobile"><i class="fa fa-magnifying-glass"></i></div>

                            <div class="search__close"><i class="fa fa-xmark"></i></div>
                        </div>
                        

                    </div>

                </div>
            </div>

            <div class="header__bottom">
                <div class="container">
                    <div class="header__body">

                        <div class="logo">
                            <a href="#" class="logo__link">
                                <img src="./images/logo.png" alt="logo" class="logo__img">
                            </a>
                        </div>
                        
                        <nav class="menu-top show">
                            <ul class="menu-top__list">
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Главная</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">О нас</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Каталог</a></li>
                                <li class="menu-top__item"><a href="#" class="menu-top__link">Контакты</a></li>
                            </ul>

                            <div class="menu-top__close"><i class="fa fa-xmark"></i></div>
                        </nav>

                        <div class="burger"><i class="fa fa-bars"></i></div>

                    </div>
                </div>
            </div>
            
        </header>

        <main class="main">

            <section>
                <div class="banner-main">
                    <img src="./images/banner.png" alt="banner" class="banner-main__img">
                    <div class="banner-main__body">
                        <div class="container">
                            <h1 class="banner-main__title">Качество, сохраняющее жизнь</h1>
                            <p class="banner-main__description">Лучшие медицинские решения по всему миру</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="catalog-main">
                    <div class="container">
                        <h2 class="title-main">Каталог</h2>
                        <div class="catalog-main__list">

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>

                            <a class="catalog-main__item">
                                <img class="catalog-main__img" src="./images/banner.png" alt="img">
                                <div class="catalog-main__name">Сверла для бурения черепа</div>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="about-main">
                    <div class="container">
                        <h2 class="title-main">О нас</h2>
                        <div class="about-main__body">
                            <div class="about-main__img">
                                <img src="./images/banner.png" alt="img">
                            </div>
                            <div class="about-main__info">
                                <h2 class="about-main__title"><span>ООО "Колпак"</span></h2>
                                <p class="about-main__description">
                                    Одна из ведущих частных медицинских групп компаний, специализирующаяся на лабораторной диагностике и медицинской помощи. ООО "Колпак" располагает одной из крупнейших сетей медицинских офисов (более 1 500) в 6 странах и 8-ю самыми современными лабораторными комплексами, которые ежегодно выполняют более 76 млн исследований. В группу компаний ООО "Колпак" входят диагностические центры и собственные медицинские клиники.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__body">

                <div class="footer__contacts">
                    <a href="tel:+7 (999) 999-99-99" class="footer__phone contact"><i class="fa fa-phone"></i>+7 (999) 999-99-99</a>
                    <a href="mailto:index@gmail.com" class="footer__email contact"><i class="fa fa-envelope"></i>index@gmail.com</a>
                </div>

                <div class="menu-bottom">
                    <ul class="menu-bottom__list">
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Главная</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">О нас</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Каталог</a></li>
                        <li class="menu-bottom__item"><a href="#" class="menu-bottom__link">Контакты</a></li>
                    </ul>
                </div>

                <div class="copyright">
                    © 2022 ООО "Колпак"
                </div>

            </div>
        </div>
    </footer>
    
</body>
</html>