html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #fff;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main section {
  margin-bottom: 80px;
}

@media (max-width: 767px) {
  .main section {
    margin-bottom: 50px;
  }
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.contact {
  padding-left: 25px;
  position: relative;
}

.contact > i {
  position: absolute;
  left: 0;
  color: #00bce6;
}

.contact:hover {
  text-decoration: underline;
  color: #00bce6;
}

h1 {
  font-size: calc(16px + 22 * (100vw / 1710));
}

h2 {
  font-size: calc(15px + 19 * (100vw / 1710));
}

h3 {
  font-size: calc(15px + 15 * (100vw / 1710));
}

h4 {
  font-size: calc(14px + 12 * (100vw / 1710));
}

h5 {
  font-size: calc(14px + 8 * (100vw / 1710));
}

a {
  color: #00bce6;
}

.title-main {
  margin-bottom: 30px;
  position: relative;
}

.title-main::before {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 0;
  width: 100px;
  height: 1px;
  background-color: #00bce6;
}

@media (max-width: 767px) {
  .title-main {
    text-align: center;
  }
  .title-main::before {
    left: 50%;
    margin-left: -50px;
  }
}

.title-inner {
  margin-bottom: 15px;
  position: relative;
}

.title-inner::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00bce6;
}

.header {
  position: relative;
}

.header__top {
  background-color: #222;
  border-bottom: 1px solid #00bce6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__contacts > a {
  color: #fff;
}

.header__contacts > a:not(:first-child) {
  margin-left: 15px;
}

.header__contacts > a i.fa {
  font-size: 18px;
  top: -3px;
}

.header__bottom {
  position: absolute;
  width: 100%;
  top: 100%;
  z-index: 100;
  padding: 5px 0;
}

.header__bottom::before {
  content: '';
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .header__contacts span {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__contacts > a {
    margin-bottom: 5px;
    font-size: 12px;
  }
  .header__contacts > a:not(:first-child) {
    margin-left: unset;
  }
  .header__contacts > a i.fa {
    font-size: 14px;
    top: -1px;
  }
}

.logo {
  max-width: 150px;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.menu-top__list {
  display: table;
}

.menu-top__item {
  display: table-cell;
}

.menu-top__link {
  color: #fff;
  display: block;
  padding: 25px 15px;
  text-transform: uppercase;
}

.menu-top__link:hover {
  background-color: #00bce6;
}

.menu-top__link.active {
  background-color: #00bce6;
  cursor: default;
}

.menu-top__close {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 36px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  color: #fff;
}

@media (max-width: 767px) {
  .menu-top {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    z-index: 1000;
    padding-top: 50px;
  }
  .menu-top.show {
    display: block;
  }
  .menu-top__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-top__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-top__item {
    display: inline-block;
  }
  .menu-top__link {
    padding: 15px 10px;
  }
}

.burger {
  display: none;
  font-size: 34px;
  padding: 5px;
  color: #fff;
}

@media (max-width: 767px) {
  .burger {
    display: block;
  }
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search__text {
  padding: 7px;
  outline: none;
}

.search__button {
  padding: 7px 14px;
  color: #fff;
  background-color: #00bce6;
}

.search__mobile {
  display: none;
}

.search__close {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 36px;
  z-index: 1000;
  width: 30px;
  height: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  .search.show .search__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search__form {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 70px 15px 15px;
    z-index: 1000;
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #222;
  }
  .search__text {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    padding: 14px;
  }
  .search__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 1;
            flex: 0 1;
    padding: 14px;
  }
  .search__mobile {
    display: block;
  }
  .search.show .search__mobile {
    opacity: 0;
  }
  .search.show .search__close {
    display: block;
  }
}

.banner-main {
  height: calc(100vh - 50px);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}

.banner-main::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4));
}

.banner-main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.banner-main__body {
  width: 100%;
}

.banner-main__title {
  display: inline-block;
  background-color: #00bce6;
  padding: 5px 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  color: #fff;
}

.banner-main__description {
  background-color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 20px;
  display: inline-block;
  color: #222;
  font-size: calc(16px + 10 * (100vw / 1710));
  position: relative;
}

.banner-main__description::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 200px;
  height: 3px;
  background-color: #00bce6;
}

@media (max-width: 991px) {
  .banner-main {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  .banner-main {
    height: 60vh;
  }
}

@media (max-width: 576px) {
  .banner-main {
    height: 40vh;
  }
}

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 1px solid #00bce6;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__contacts > a {
  color: #fff;
}

.footer__contacts > .contact:not(:last-child) {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__body > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

.menu-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-bottom__link {
  padding: 5px 10px;
  text-transform: uppercase;
  color: #fff;
}

.menu-bottom__link.active {
  background-color: #00bce6;
  cursor: default;
}

@media (max-width: 991px) {
  .menu-bottom__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-bottom__item {
    margin-bottom: 15px;
    text-align: center;
  }
}

.copyright {
  font-size: 12px;
  opacity: 0.3;
  text-align: right;
  color: #fff;
}

.catalog-main__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 15px;
}

.catalog-main__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 100ms;
  transition: 100ms;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.catalog-main__item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 300ms;
  transition: 300ms;
  background-color: #00bce6;
  border: none;
}

.catalog-main__item:hover .catalog-main__name {
  background-color: #00bce6;
}

.catalog-main__item:hover .catalog-main__name::before {
  opacity: 0;
}

.catalog-main__item:hover .catalog-main__img {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.catalog-main__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.catalog-main__name {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  position: relative;
  color: #fff;
}

.catalog-main__name::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .catalog-main__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .catalog-main__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about-main__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.about-main__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-main__title {
  color: #222;
  margin-bottom: 15px;
}

.about-main__description {
  font-size: calc(14px + 2 * (100vw / 1710));
}

@media (max-width: 767px) {
  .about-main__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-main__img {
    border-bottom: 1px solid #00bce6;
  }
}

.inner .main {
  padding-top: 15px;
}

.inner .header__bottom {
  position: initial;
}

.inner .header__bottom::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.breadcrumbs__item {
  display: inline-block;
  color: #00bce6;
  font-size: 12px;
}

.breadcrumbs__item:not(:first-child) {
  position: relative;
}

.breadcrumbs__item:not(:last-child) {
  margin-right: 5px;
  color: #00bce6;
}

.breadcrumbs__item:last-child {
  color: #222;
}

.breadcrumbs__item > i {
  margin-right: 10px;
  font-size: 10px;
}

.inner-top {
  margin-bottom: 50px;
}

.main__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 3fr;
      grid-template-columns: 9fr 3fr;
  gap: 15px;
}

.main__body.nosidebar {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.main__body.nosidebar .main__sidebar {
  display: none;
}

@media (max-width: 767px) {
  .main__body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .main__sidebar {
    display: none;
  }
}

.menu-inner__list {
  border-left: 1px solid #00bce6;
}

.menu-inner__item.active, .menu-inner__item:hover {
  background-color: #00bce6;
}

.menu-inner__item:not(:first-child) {
  margin-top: -1px;
}

.menu-inner__item:last-child {
  margin-bottom: 15px;
}

.menu-inner__link {
  display: block;
  padding: 10px 15px;
  font-size: calc(16px + 4 * (100vw / 1710));
  color: #222;
}

.menu-inner__item.active .menu-inner__link,
.menu-inner__item:hover .menu-inner__link {
  color: #fff;
}

.detail__about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
  gap: 15px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.detail__about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #00bce6;
}

.detail__img {
  line-height: 0;
  max-height: 300px;
}

.detail__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.detail__info hr {
  margin-top: 15px;
  margin-bottom: 30px;
}

.detail__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.detail__size span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00bce6;
  border: 3px solid #00bce6;
  font-size: 20px;
  white-space: nowrap;
}

.detail__price span {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border: 3px solid #00bce6;
}

.detail__specifications {
  margin-bottom: 30px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

.detail__specifications-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.detail__specifications-text {
  line-height: 1.4em;
}

.detail__specifications-text li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail__specifications-text li .li-dots {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px dotted #00bce6;
  margin-bottom: 5px;
}

.detail__specifications-text-name {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 5px;
  font-size: 12px;
}

.detail__specifications-text-value {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 5px;
  font-size: 12px;
}

.detail__description {
  margin-bottom: 30px;
}

.detail__description-title {
  margin-bottom: 15px;
}

.detail__text {
  line-height: 1.4em;
}

.detail__text li {
  margin-left: 15px;
  list-style-type: disc;
}

@media (max-width: 767px) {
  .detail__about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}

.sections {
  margin-bottom: 50px;
}

.sections__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 15px;
}

.sections__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.sections__item:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.sections__item:hover .sections__name {
  background-color: #00bce6;
}

.sections__item:hover .sections__name::before {
  opacity: 0;
}

.sections__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.sections__name {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  position: relative;
  color: #fff;
}

.sections__name::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  .sections__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .sections__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.elements {
  margin-bottom: 50px;
}

.elements__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 15px;
}

.elements__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  gap: 15px;
  padding-top: 10px;
}

.elements__item:hover {
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.elements__img {
  line-height: 0;
  height: 100px;
}

.elements__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.elements__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.elements__name {
  font-size: calc(16px + 2 * (100vw / 1710));
  margin-bottom: 15px;
}

.elements__link {
  color: #222;
}

.elements__link:hover {
  text-decoration: underline;
}

.elements__more {
  margin-bottom: 15px;
}

.elements__more > a {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #00bce6;
  color: #00bce6;
}

.elements__more > a:hover {
  background-color: #00bce6;
  color: #fff;
}

@media (max-width: 767px) {
  .elements__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .elements__img {
    height: 100px;
  }
}

.pagination {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pagination__link {
  display: block;
  padding: 10px 15px;
  margin-right: 3px;
  border: 1px solid #00bce6;
  text-align: center;
  color: #00bce6;
}

.pagination__active {
  background-color: #00bce6;
  color: #fff;
}

.contacts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 15px;
}

.contacts__description {
  margin-bottom: 30px;
  font-size: calc(14px + 2 * (100vw / 1710));
}

.contacts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 15px;
}

.contacts .fa {
  color: #00bce6;
}

.contacts__map {
  background-color: #00bce6;
  width: 100%;
}

@media (max-width: 1200px) {
  .contacts {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .contacts {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contacts__info {
    margin-bottom: 30px;
  }
  .contacts__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contacts__item {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .contacts__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

table {
  margin-bottom: 30px;
  border-top: 1px solid black;
}

table tr:nth-child(2n) {
  background-color: #eee;
}

table tr * {
  padding: 2px 10px;
}

.form {
  margin-bottom: 50px;
}

.form input {
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 100%;
}

.form__contenteditable {
  border: 1px solid #eee;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 20px;
}

.form__img {
  display: none;
}

.form__btn {
  padding: 10px 20px;
  background-color: #00bce6;
  border: 2px solid #00bce6;
  color: #fff;
  cursor: pointer;
}

.form__btn:hover {
  background-color: unset;
  color: #00bce6;
}

.form__hidden {
  display: none;
}

.form__container {
  margin-bottom: 30px;
  position: relative;
}

.form__title {
  margin-bottom: 10px;
}

.form__clear {
  background-color: #e60000;
  color: #fff;
  padding: 2px 4px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.form__textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.preview {
  margin-top: 100px;
  margin-bottom: 25px;
  padding: 25px 15px;
  border: 1px solid #eee;
}

.preview__title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
}

.preview__about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 3fr;
      grid-template-columns: 4fr 3fr;
  gap: 15px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.preview__about::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #00bce6;
}

.preview__img {
  line-height: 0;
  max-height: 300px;
}

.preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
}

.preview__info hr {
  margin-top: 15px;
  margin-bottom: 30px;
}

.preview__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.preview__size span {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00bce6;
  border: 3px solid #00bce6;
  font-size: 20px;
  white-space: nowrap;
}

.preview__price span {
  display: inline-block;
  padding: 10px 20px;
  font-size: 20px;
  border: 3px solid #00bce6;
}

.preview__specifications {
  margin-bottom: 30px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

.preview__specifications-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.preview__specifications-text {
  line-height: 1.4em;
}

.preview__specifications-text li {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview__specifications-text li .li-dots {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px dotted #00bce6;
  margin-bottom: 5px;
}

.preview__specifications-text-name {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-right: 5px;
}

.preview__specifications-text-value {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin-left: 5px;
}

.preview__description {
  margin-bottom: 30px;
}

.preview__description-title {
  margin-bottom: 15px;
}

.preview__text {
  line-height: 1.4em;
}

.preview__text li {
  margin-left: 15px;
  list-style-type: disc;
}

@media (max-width: 767px) {
  .preview__about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
}
